on early-init
    start ueventd

on init
    export PATH /sbin
    export ANDROID_ROOT /system
    export ANDROID_DATA /data

    symlink /system/etc /etc
 
    mkdir /staging
    mkdir /system
    mkdir /data
    mkdir /cache
    mount /tmp /tmp tmpfs

    # symlink /data/media /sdcard

    mount ext4 /dev/block/mmcblk0p2 /cache wait nosuid nodev
    chown system cache /cache
    chmod 0770 /cache

on boot

    ifup lo
    hostname localhost
    domainname localdomain

    class_start default

service ueventd /sbin/ueventd
    critical

service recovery /sbin/recovery

service mischelp /sbin/mischelp /dev/block/platform/sdhci-tegra.3/by-name/MC

service adbd /sbin/adbd recovery
  \ disabled

# Always start adbd on userdebug and eng builds
on property:ro.debuggable=1
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0B05
    write /sys/class/android_usb/android0/idProduct 4E1F
    write /sys/class/android_usb/android0/functions adb
    write /sys/class/android_usb/android0/enable 1
    write /sys/class/android_usb/android0/iManufacturer Asus
    write /sys/class/android_usb/android0/iProduct Transformer
    write /sys/class/android_usb/android0/iSerial $ro.serialno
    setprop service.adb.root 1
    start adbd

# Restart adbd so it can run as root
on property:service.adb.root=1
    write /sys/class/android_usb/android0/enable 0
    restart adbd
    write /sys/class/android_usb/android0/enable 1
