/dev/knvmap	0660	system	system
/dev/nvmap	0666	system	system
/dev/tegra_avp	0660	media	media
/dev/tegra_rpc	0660	media	media
/dev/tegra_sema	0660	media	media
/dev/tegra_mediaserver	0660	media	media
/dev/ov5650	0660	media	camera
/dev/ov2710	0660	media	camera
/dev/sh532u	0660	media	camera
/dev/ov5640	0660	media	camera
/dev/mi1040	0660	media	camera
/dev/mi5140	0660	media	camera
/dev/tegra_camera	0660	media	camera
/dev/camera*	0660	media	camera
/dev/focuser*	0660	media	camera
/dev/torch*	0660	media	camera
/dev/spdif*	0660	system	audio
/dev/video0	0660	media	camera
/dev/video1	0660	media	camera
/dev/tegra_dc*	0660	system	system
/dev/ttyACM*    0660    radio   system
/dev/mpu        0640    system  system
/dev/mpuirq     0640    system  system
/dev/accelirq   0640    system  system
/dev/timerirq	0640	system	system
/dev/nvhdcp0    0666    system  system
/dev/block/mmcblk0p3    0660    root    system
/dev/block/mmcblk0p6    0600    drm     drm
/dev/nvhdcp1    0666    system  system
/dev/tf_driver  0666    system  system
/dev/dsp_fm34	0660	system	audio
/dev/wm8903     0660    system	audio
/dev/asusec     0660    system  system
/dev/ttyUSB0    0660    radio   system
/dev/ttyUSB1    0660    radio   system
/dev/ttyUSB2    0660    radio   system
/dev/ttyUSB3    0660    radio   system
/dev/ttyUSB4    0660    radio   system
/dev/ttyUSB5    0660    radio   system
/dev/rfkill     0660    wifi    wifi
